# Task 1  Grade_to_percentage

In [ ]:
def sslc_grad_to_percentage():
  grades={'A+':9,'A':8,
          'B+':7,'B':6,
          'C+':5,'C':4,
          'D+':3,'D':2,
          'E+':1,'E':0}
  Subjects=['Malayalam','Arabic','IT','Physics','Cheymistry','English',
            'Biology','Hindi','Mathamatics',
            'Social Sceince']

  grad={}
  for sub in Subjects:
    x=input(f'Enter your Grade in {sub}  :').upper()
    if x in grades:
      grad[sub]=grades[x]

  if len(Subjects)== len(grad):
    total_mark= sum(grad.values())
  # conver to percentage
    percentage= total_mark*100/90
    x=round(percentage)
    print('Congratulations............')
    print('Your SSLC Mark Percentage is :',x,'%')
  else:
    print('Somthing Wrong, Try Again...')


sslc=sslc_grad_to_percentage
a=int(input('''Choose Your Option \n 1 for SSLC Marks Percentage
\n 2 for +2 Marks to Percentage\n'''))
if a == 1:
  print(sslc())
elif a==2:
  print('this function not ready yet , Please wait')
else:
  print('Try Again')

Choose Your Option
 1 for SSLC Marks Percentage

 2 for +2 Marks to Percentage
1
Enter your Grade in Malayalam  :A
Enter your Grade in Arabic  :D
Enter your Grade in IT  :E
Enter your Grade in Physics  :E
Enter your Grade in Cheymistry  :E
Enter your Grade in English  :E
Enter your Grade in Biology  :E
Enter your Grade in Hindi  :E
Enter your Grade in Mathamatics  :E
Enter your Grade in Social Sceince  :E
Congratulations............
Your SSLC Mark Percentage is : 11 %
None

In [ ]:
35

# Task 2 sum_even_odd

Description: Write a Python function called sum_even_odd that takes a list of integers as input and returns a tuple containing the sum of even numbers and the sum of odd numbers in the list.

Example:

python
Copy code
##### Example Input
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Expected Output
##### Tuple (sum_of_even, sum_of_odd)
##### (30, 25)

In [ ]:
def sum_even_odd():
  l1=input('Enter the numbers')
  l2 = list(map(float,l1.split(',')))

  even=[]
  odd=[]

  for i in l2:
    if i % 2== 0:
      even.append(i)
    else:
      odd.append(i)
  total=(round(sum(even)),round(sum(odd)))
  return total

sum_even_odd()

# Task 3 reverse_words

Description: Write a Python function called reverse_words that takes a string as input and returns a new string with the words reversed.

Example:

python
Copy code
##### Example Input
input_string = "Hello World"

##### Expected Output
##### "olleH dlroW"
Write the reverse_words function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def revers_words():
  string=input('Enter your name for to reverse:')
  string=string.split(' ')
  leng=len(string)
  x=''
  for i in string:
    x+= i[::-1]
    x+= ' '
  result= x[:-1]
  return result

revers_words()

Enter your name for to reverse:Hello World

'olleH dlroW'

In [ ]:
def reverse_words():
    input_string = input('Enter a string to reverse: ')
    words = input_string.split()

    reversed_words = [word[::-1] for word in words]
    result = ' '.join(reversed_words)

    return result

# Test the function
print(reverse_words())

Enter a string to reverse: Hello World
olleH dlroW

# Test 4 common_elements


Description: Write a Python function called common_elements that takes two lists as input and returns a new list containing the common elements between the two input lists. The order of elements in the result does not matter.

Example:

python
Copy code
#### Example Input
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

#### Expected Output
#### [4, 5]
Write the common_elements function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def common_elements(list1,list2):
  convert=set(list1)&set(list2)
  return list(convert)


list1=[1, 2, 3, 4, 5]
list2=[4, 5, 6, 7, 8]
common_elements(list1,list2)

[4, 5]

# Task 5 remove_duplicates

Description: Write a Python function called remove_duplicates that takes a list as input and returns a new list with duplicates removed while maintaining the original order of elements.

Example:

python
Copy code
 Example Input
input_list = [1, 2, 2, 3, 4, 4, 5]

 Expected Output
 [1, 2, 3, 4, 5]
Write the remove_duplicates function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def remove_duplicates(list1):
  set_list=set(list1)
  return list(set_list)

list1=[1, 2, 2, 3, 4, 4, 5]
remove_duplicates(list1)

[1, 2, 3, 4, 5]

# Task 6 is_palindrome

Description: Write a Python function called is_palindrome that takes a string as input and returns True if the string is a palindrome, and False otherwise. A palindrome is a word, phrase, number, or other sequences of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization.

Example:

python
Copy code
Example Input
input_str = "A man a plan a canal Panama"

 Expected Output
True
Write the is_palindrome function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def is_palindrome():
  string = input('Enter the string to check if it is a palindrome: ')
  punc = '!()-[]{};:,<>./?@#$%^&*_~1234567890'
  string = string.upper()
  res = ""
  for char in string:
    if char not in punc:
          res += char

  res = res.replace(' ', '')
  return res == res[::-1]

is_palindrome()

Enter the string to check if it is a palindrome: A man a plan a canal Panama

True

In [ ]:
def paindrm(string):
  punc = '!()-[]{};:,<>./?@#$%^&*_~1234567890'
  string=string.upper()
  clen_string=''.join(char for char in string if char not in punc)
  clen_string=clen_string.replace(' ',"")

  return clen_string == clen_string[::-1]

In [ ]:
paindrm('A man a????;[.[[]]] plan a can5555al Panama')

True

# Task 7 count_vowels


Description: Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both uppercase and lowercase) in the given string.

Example:

python
Copy code
Example Input
input_str = "Hello World"

Expected Output
3 (since there are three vowels: e, o, o)

Write the count_vowels function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def count_vowels():
  vw=['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
  string=input('Enter the string to count vowels')
  cou_vw=""
  for i in string:
    if i in vw:
      cou_vw += i
  cou_vw1=list(cou_vw)
  cou_vw=len(cou_vw)

  return 'total vowels in this string ',cou_vw ,'These are the vowels in this string',cou_vw1

In [ ]:
count_vowels()

Enter the string to count vowelshello world

('total vowels in this string ',
 3,
 'These are the vowels in this string',
 ['e', 'o', 'o'])

# Task 8 factorial


Description: Write a Python function called factorial that takes a non-negative integer as input and returns its factorial. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

Example:

python
Copy code
Example Input
n = 5

 Expected Output
 120 (since 5! = 5 * 4 * 3 * 2 * 1 = 120)
Write the factorial function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def factorial():
  a=1
  num=int(input('Enter the number to find the factorial '))
  if num < 0:
    print('No negative numbers are allowd')
  elif num == 0:
    print('Factorial of 0  is 1')
  else:
    for i in range(1,num+1):
      a=a*i
    print(f'Factorial of {num}  is {a}')

In [ ]:
factorial()

Enter the number to find the factorial 5
Factorial of 5  is 120

In [ ]:
1*2*3*4*5

120

# Task 9 largest_element


Description: Write a Python function called largest_element that takes a list of numbers as input and returns the largest element in the list.

Example:

python
Copy code

 Example Input
numbers = [4, 7, 1, 9, 3, 8]

 Expected Output
 9 (since 9 is the largest element in the list)

Write the largest_element function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def largets_element(list1):
  return max(list1)

In [ ]:
list1=[4, 7, 1, 9, 3, 8]
largets_element(list1)

9

# Task 10 reverse_dict


Description: Write a Python function called reverse_dict that takes a dictionary as input and returns a new dictionary where the keys and values are reversed.

Example:

python
Copy code

 Example Input
input_dict = {'a': 1, 'b': 2, 'c': 3}

Expected Output
 {1: 'a', 2: 'b', 3: 'c'}

Write the reverse_dict function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def reverse_dict(dict1):
  new={}
  rdict=dict1.keys()
  rdict_v=dict1.values()
  result=dict(map(lambda i,j: (i,j),rdict_v,rdict))
  return result
dict1={'a': 1, 'b': 2, 'c': 3}
reverse_dict(dict1)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
def reverse_dict2(dict1):
  return {k:v for v,k in dict1.items()}

dict1={'a': 1, 'b': 2, 'c': 3}
reverse_dict2(dict1)

{1: 'a', 2: 'b', 3: 'c'}

# Task 11 remove_duplicates_sorted


Description: Write a Python function called remove_duplicates_sorted that takes a sorted list as input and returns a new list with duplicates removed while maintaining the original order of elements. The input list is guaranteed to be sorted.

Example:

python
Copy code

Example Input
sorted_list = [1, 1, 2, 3, 3, 4, 4, 4, 5]

 Expected Output
[1, 2, 3, 4, 5]

Write the remove_duplicates_sorted function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def remove_duplicates_sorted(list1):
  uniq=[]
  for i in list1:
    if i not in uniq:
      uniq.append(i)
  return sorted(uniq)

list1= [1,100, 1, 2, 3, 3, 4, 4, 4, 5]
remove_duplicates_sorted(list1)

[1, 2, 3, 4, 5, 100]

In [ ]:
def remove_duplicates_sorted(list1):
  uniq=[]
  for i in list1:
    if i not in uniq:
      uniq.append(i)
  dec=sorted(uniq)
  return dec[::-1]

list1= [1,100, 1, 2, 3, 3, 4, 4, 4, 5]
remove_duplicates_sorted(list1)

[100, 5, 4, 3, 2, 1]

# Task 12  merge_sorted_lists

Description: Write a Python function called merge_sorted_lists that takes two sorted lists as input and returns a new list that is the sorted merge of the two input lists.

Example:

python
Copy code

 Example Input
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

Expected Output
 [1, 2, 3, 4, 5, 6, 7, 8]

Write the merge_sorted_lists function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def  merge_sorted_lists(list1,list2):
  sor_list1=sorted(list1)
  sor_list2=sorted(list2)
  return sorted(sor_list1+sor_list2)

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merge_sorted_lists(list2,list1)

[1, 2, 3, 4, 5, 6, 7, 8]

# Task 13 capitalize_first_letters

Description: Write a Python function called capitalize_first_letters that takes a string as input and returns a new string where the first letter of each word is capitalized.

Example:

python

 Example Input
input_str = "hello world"

 Expected Output
"Hello World"

Write the capitalize_first_letters function, and once you're done, share the code with me. I'll check it and provide feedback!

## capitalize()

In [ ]:
def capitalize_first_letters(string):
    return string.capitalize()

string='hello world'
result=capitalize_first_letters(string)
print(result)

Hello world

## title()

In [ ]:
def capitalize_first_letters(string):
    return string.title()

string='hello world'
result=capitalize_first_letters(string)
print(result)

Hello World

# Task 13 average_list

Write a Python function called average_list that takes a list of numbers as input and returns the average (mean) of the numbers.

Example:

python
Copy code

Example Input
numbers = [1, 2, 3, 4, 5]

Expected Output
3.0 (since (1+2+3+4+5)/5 = 3.0)

Write the average_list function, and once you're done, share the code with me. I'll check it and provide feedback!

In [ ]:
def average_list(list1):
    sum1=sum(list1)
    avarage=sum1/len(list1)
    return round(avarage,2)

list1=[1,2,3,4,5]
average_list(list1)

3.0

# Task 14 count_chars


Description: Write a Python function called count_chars that takes a string as input and returns a dictionary containing the count of each character in the string.

Example:

python
Copy code
 Example Input
input_str = "hello"

 Expected Output
 {'h': 1, 'e': 1, 'l': 2, 'o': 1}
Write the count_chars function, and once you're done, share the code with me. I'll check it and provide feedback!

In [32]:
def count_chars1 (hello):

    char=[]
    count1=[]
    if " " in hello:
        hello=hello.replace(' ','')


    for i in hello:
        if i not in char :
            count1.append(hello.count(i))
        if i not in char:
            char.append(i)

    return{k:v for (k,v) in  zip(char,count1)}

input_str='kdfakjgajtieqjgnadvkdsjjasdkdgjkl;jgadkvadgnalkdjlsjfkasjdfklasjdfkasjdf;lakdjkjdkdgadfgjkajkdhjksdfoiergkjsdavjadngkjasdhgkasjdjasdfhkjdfhakjsdgkjadsgkjadsgkadgdnfkajgkladjfgklajklsdjglkajglkfgdfkgjdslfkgdkgmalgaldg daflgkjadflkg adg lkdfjgladfgkladfjg sa dfklgklsdfgjldajgldjgofjglrtjhoisglsdfbdlsfkgsdlkjads  glkdajfgladkfgldgjdlfgjalkdgjnbsdlkfjgladgjorihaflgsfkhjbositjhkflsdgblskfjhlsdjg5906itw4lkjgsldfkgjslkgjo5yrklslfhjsljhsflkj'

result1=count_chars1(input_str)
print(result1)

{'k': 53, 'd': 58, 'f': 35, 'a': 41, 'j': 57, 'g': 51, 't': 4, 'i': 6, 'e': 2, 'q': 1, 'n': 5, 'v': 3, 's': 34, 'l': 44, ';': 2, 'h': 11, 'o': 6, 'r': 4, 'm': 1, 'b': 4, '5': 2, '9': 1, '0': 1, '6': 1, 'w': 1, '4': 1, 'y': 1}

In [33]:
def count_chars2(input_str):
    char_count = {}
    if " " in input_str:
        input_str = input_str.replace(' ', '')
    for char in input_str:
        if char not in char_count:
            char_count[char] = 1
        else:
            char_count[char] += 1
    return char_count

# Test the function
input_str='kdfakjgajtieqjgnadvkdsjjasdkdgjkl;jgadkvadgnalkdjlsjfkasjdfklasjdfkasjdf;lakdjkjdkdgadfgjkajkdhjksdfoiergkjsdavjadngkjasdhgkasjdjasdfhkjdfhakjsdgkjadsgkjadsgkadgdnfkajgkladjfgklajklsdjglkajglkfgdfkgjdslfkgdkgmalgaldg daflgkjadflkg adg lkdfjgladfgkladfjg sa dfklgklsdfgjldajgldjgofjglrtjhoisglsdfbdlsfkgsdlkjads  glkdajfgladkfgldgjdlfgjalkdgjnbsdlkfjgladgjorihaflgsfkhjbositjhkflsdgblskfjhlsdjg5906itw4lkjgsldfkgjslkgjo5yrklslfhjsljhsflkj'
result2 = count_chars2(input_str)
print(result2)

{'k': 53, 'd': 58, 'f': 35, 'a': 41, 'j': 57, 'g': 51, 't': 4, 'i': 6, 'e': 2, 'q': 1, 'n': 5, 'v': 3, 's': 34, 'l': 44, ';': 2, 'h': 11, 'o': 6, 'r': 4, 'm': 1, 'b': 4, '5': 2, '9': 1, '0': 1, '6': 1, 'w': 1, '4': 1, 'y': 1}

In [34]:
result1== result2

True

# Task 15 find_longest_words


Description: Write a Python function called find_longest_words that takes a sentence (a string) as input and returns a list containing all the longest words in the sentence.

Example:

python

Copy code

 Example Input
sentence = "The quick brown fox jumps over the lazy dog"

 Expected Output
 ["quick", "brown", "jumps"]

Write the find_longest_words function, and once you're done, share the code with me. I'll check it and provide feedback!

In [30]:
def find_longest_words(string1):
    big_words=[]
    big_words_len=[]
    list1=string1.split(' ')
    for i in list1:
        big_words_len.append(len(i))
    big_word_len=max(big_words_len)
    for i in list1:
        if len(i)==big_word_len:
            big_words.append(i)
    return (big_words)


sentence ="The quick brown fox jumps over the lazy dog"
result=find_longest_words(sentence)
print(result)

['quick', 'brown', 'jumps']

4